@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
	background-color: #0e0e0e;
}

.space-grotesk-bold {
	font-family: 'Space Grotesk', sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}

.manrope-thin {
	font-family: 'Manrope', sans-serif;
	font-optical-sizing: auto;
	font-weight: 10;
	font-style: normal;
}
